# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode

# Build files
*.apk
*.obb

# Lightmaps
*.exr
*.exr.meta
LightmapSnapshot.asset
LightmapSnapshot.asset.meta
LightingData.asset
LightingData.asset.meta

# Visual Studio files
*.cachefile
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12

# Folder to exclude
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Builds/
ipch/
Library/
Packages/
obj/
Temp/
UWP/
WindowsStore/
WS/
UnityVS/
UnityVS.meta

# Folders to keep
!Assets/Vendors/InControl/Source/Debug/
Paper Soldiers/Library/ArtifactDB
Paper Soldiers/Library/Artifacts/45/45806268619b0e2f0c4e6e8542998e48
Paper Soldiers/Library/Artifacts/a7/a7afd1c69503d60872a9a41d65fa1ca4
Paper Soldiers/Library/shadercompiler-UnityShaderCompiler.exe0.log
Paper Soldiers/Library/SourceAssetDB
